.nav-links {
    list-style: none;
    display: flex;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    background-color: black;
    transition: background-color 1s;
}

.navigation-menu:hover {
    background-color: #47195b;
}

.nav-link {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 24px;
    color: #fdfeff;
    text-decoration: none;
}

.fa {
    font-size: 48px;
}

.fa:hover {
    color: darkblue;
}

.footer-menu {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    margin-top: 100px;
}

.footer-link {
    margin-left: 24px;
    margin-right: 24px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 24px;
    color: white;
}

.footer-menu {
    margin-top: 70px;
}
